*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFEDACAA;
    background-color: #3E2723;
}

.nav ul{
    display:flex;
    position:fixed;
    justify-content: space-between;
    gap: 150px;
    padding: 30px;
    margin:0px;
    margin-left: 20px;
    border:1px solid #FFEDACAA;
    border-radius: 15px;
    background-color: #3E2723;

}
nav ul li{
    list-style-type: none;
    background-color: #3E2723;
}
nav ul li a{
    text-decoration: none;
    font-size: medium;
}






.hero-container{
    margin-top:40px;
    padding:20px;
    justify-content: center;
    align-items: center;
    font-size: large;
}
.hero{
    display:flex;
    margin-top: 20vh;
    gap:50px;
    align-items: center;
    justify-content: center;
}
.hero img{
    height:200px;
    width:200px;
    border-radius: 50%;
}




.about-container{
    border:1px solid #3E2723;
    padding:40px;
    margin:10px;
    text-align: center;
}
.about-container h2{
    text-align:center
}


.skills-name{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top:50px;
    padding:20px;
    justify-content: center;
    align-items: center;
    font-size: large;
}
.skills{
    background-color: #fdf0d5;
    border: 1px solid #FFEDACAA;
    border-radius: 15px;
    text-align: center;
    margin:20px;
    padding:10px;
    width: 300px;
    height:70px;
}
.skills p{
    margin: 20px;
    font-size: medium;
    background-color: #fdf0d5;
    color:#3E2723
}
.edu-heading{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10vh;
    text-align: center;
}
.edu-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    place-items: center;
    text-align: center;
    justify-content: center;
    margin-top:50px;
    padding:20px;

}
.edu{
    border: 1px solid #FFEDACAA;
    border-radius: 15px;
    margin:20px;
    padding:10px;
    width:500px;
    height:200px;
}




.certificates{
    margin:50px;
    border:1px;
    padding:20px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:50px;
    justify-content: center;
    align-items: center;

}
.cert{
    border:1px solid #FFEDACAA;
    border-radius: 15px;
}
.cert img{
    margin: 20px;
    width:300px;
    height:200px;
    border-radius: 15px;
}
.cert h5{
    margin: 25px;
}
.cert p{
    margin: 25px;
}